In [14]:
import pandas as pd
import os

from datetime import datetime,timedelta

In [15]:
def getFileName(dir):
    directory = '../../'+dir+'/'
    fileArray = os.listdir(directory)
    return fileArray

In [25]:
dir = 'climate'
dfArray = pd.DataFrame()
fileList = getFileName(dir)
for i in range(len(fileList)):
    df = pd.read_csv('../../'+dir+'/'+fileList[i], delimiter=';').dropna()
   
    df['day_begin'] = df['day'].apply(
        lambda x: datetime.strptime(x,'%d.%m.%Y %H:%M'))
    df['day_end'] = df['day_begin'] + timedelta(hours=1)
    dfArray.append(df)
    if i == 0:
        dfArray = df
    else:
        dfArray = dfArray.append(df)
dfArray

                   day  temp  hydr           day_begin             day_end
0      01.01.2019 0:00  18.0  51.0 2019-01-01 00:00:00 2019-01-01 01:00:00
1      01.01.2019 1:00  21.0  54.0 2019-01-01 01:00:00 2019-01-01 02:00:00
2      01.01.2019 2:00  20.0  53.0 2019-01-01 02:00:00 2019-01-01 03:00:00
3      01.01.2019 3:00  19.0  51.0 2019-01-01 03:00:00 2019-01-01 04:00:00
4      01.01.2019 4:00  23.0  48.0 2019-01-01 04:00:00 2019-01-01 05:00:00
...                ...   ...   ...                 ...                 ...
7532  10.11.2023 20:00  22.0  53.0 2023-11-10 20:00:00 2023-11-10 21:00:00
7533  10.11.2023 21:00  21.0  52.0 2023-11-10 21:00:00 2023-11-10 22:00:00
7534  10.11.2023 22:00  20.0  48.0 2023-11-10 22:00:00 2023-11-10 23:00:00
7535  10.11.2023 23:00  21.0  51.0 2023-11-10 23:00:00 2023-11-11 00:00:00
7536   11.11.2023 0:00  22.0  48.0 2023-11-11 00:00:00 2023-11-11 01:00:00

[42601 rows x 5 columns]

In [28]:
dfArray.to_csv('../../readyData/climatRoom.csv')